In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('vehicles.csv')

In [5]:
df.tail()

,id,price,year,manufacturer,model,condition,cylinders,odometer,type,paint_color,state,lat,long,posting_date,fuel_id,transmission_id
17950,7301954392,41990,2020,toyota,4runner limited sport,good,6 cylinders,36630,SUV,white,wy,"33,79","-84,45",2021-04-05T04:00:21-0600,1,1
17951,7301953587,51990,2021,cadillac,xt6 premium luxury,good,6 cylinders,6814,other,black,wy,"33,78","-84,41",2021-04-05T03:50:20-0600,1,1
17952,7301952155,48590,2021,cadillac,xt6 premium luxury,good,6 cylinders,7701,other,black,wy,"33,78","-84,41",2021-04-05T03:30:19-0600,1,1
17953,7301591199,33590,2019,lexus,gs 350 sedan 4d,good,6 cylinders,30814,sedan,white,wy,"33,78","-84,41",2021-04-04T03:21:34-0600,1,2
17954,7301591140,28990,2019,lexus,es 350 sedan 4d,good,6 cylinders,30112,sedan,silver,wy,"33,79","-84,45",2021-04-04T03:21:11-0600,1,1

In [7]:
cdf = pd.DataFrame(df['model'].value_counts())

In [28]:
cdf[cdf['model'] >= 140].sum()

model    3316
dtype: int64

In [32]:
for i in range(len(df)):
    if df.at[i, 'year'] == 2018:
        df.at[i, 'year'] = 2019
    elif df.at[i, 'year'] == 2019:
        df.at[i, 'year'] = 2020
    else:
        df.at[i, 'year'] = 2021

In [23]:
df = df[df['year'] >= 2018].copy()

In [18]:
len(df)

10284

In [9]:
df.dropna()

Empty DataFrame
Columns: [id, url, region, region_url, price, year, manufacturer, model, condition, cylinders, fuel, odometer, title_status, transmission, VIN, drive, size, type, paint_color, image_url, description, county, state, lat, long, posting_date]
Index: []

[0 rows x 26 columns]

In [12]:
df = df.drop(['VIN', 'drive', 'size', 'county'], axis = 1).copy()

In [15]:
df = df.dropna().copy()

In [18]:
df = df.drop(['url', 'region_url', 'description', 'image_url'], axis = 1).copy()

In [25]:
df = df.drop(['region'], axis = 1).copy()

In [27]:
df = df.drop(['title_status'], axis = 1).copy()

In [32]:
df.reset_index(drop=True, inplace=True)

In [33]:
for i in range(len(df)):
    if df.at[i, 'transmission'] == "other":
        df.at[i, 'transmission'] = "mechanical"

In [36]:
df.paint_color.unique()

array(['white', 'blue', 'red', 'black', 'silver', 'grey', 'brown',
       'yellow', 'green', 'custom', 'purple', 'orange'], dtype=object)

In [43]:
df['odometer'] = df['odometer'].astype('int')

In [47]:
df['long'] = round(df['long'].astype('float'), 2)

In [49]:
for i in range(len(df)):
    df.at[i, 'lat'] = str(df.at[i, 'lat']).replace('.', ',')
    df.at[i, 'long'] = str(df.at[i, 'long']).replace('.', ',')

In [33]:
df.set_index('id', inplace=True)

In [34]:
df

,price,year,manufacturer,model,condition,cylinders,odometer,type,paint_color,state,lat,long,posting_date,fuel_id,transmission_id
id,,,,,,,,,,,,,,,
7316814989,39590,2021,chevrolet,silverado 1500 crew,good,8 cylinders,19160,pickup,red,al,"32,59","-85,48",2021-05-04T12:31:25-0500,1,1
7316285779,35000,2020,toyota,tacoma,excellent,6 cylinders,43000,truck,grey,al,"32,6","-85,44",2021-05-03T12:12:59-0500,1,2
7315270785,27990,2019,nissan,frontier crew cab pro-4x,good,6 cylinders,37332,pickup,silver,al,"32,59","-85,48",2021-05-01T09:11:35-0500,1,1
7314910156,34590,2019,ford,f150 super cab xl pickup 4d,good,6 cylinders,20856,pickup,white,al,"32,59","-85,48",2021-04-30T12:51:31-0500,1,1
7313387888,28590,2019,ram,1500 quad cab express pickup,good,6 cylinders,30047,pickup,white,al,"32,59","-85,48",2021-04-27T11:51:04-0500,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7301954392,41990,2020,toyota,4runner limited sport,good,6 cylinders,36630,SUV,white,wy,"33,79","-84,45",2021-04-05T04:00:21-0600,1,1
7301953587,51990,2021,cadillac,xt6 premium luxury,good,6 cylinders,6814,other,black,wy,"33,78","-84,41",2021-04-05T03:50:20-0600,1,1
7301952155,48590,2021,cadillac,xt6 premium luxury,good,6 cylinders,7701,other,black,wy,"33,78","-84,41",2021-04-05T03:30:19-0600,1,1
7301591199,33590,2019,lexus,gs 350 sedan 4d,good,6 cylinders,30814,sedan,white,wy,"33,78","-84,41",2021-04-04T03:21:34-0600,1,2
7301591140,28990,2019,lexus,es 350 sedan 4d,good,6 cylinders,30112,sedan,silver,wy,"33,79","-84,45",2021-04-04T03:21:11-0600,1,1

In [26]:
df.to_csv('vehicles.csv')

In [54]:
len(df)

129766

In [58]:
f = list(df['fuel'].unique())

In [59]:
fDf = pd.DataFrame(f, index = [i for i in range(1, len(f) + 1)])

In [60]:
fDf.index.name = 'fuel_id'

In [78]:
fDf.columns = ['fuel']

In [62]:
fDf

             fuel
fuel_id
1             gas
2          diesel
3           other
4          hybrid
5        electric

In [75]:
fDf.to_csv("fuel.csv")

In [64]:
df = pd.read_csv('vehicles.csv')

In [65]:
df['fuel_id'] = 0

In [66]:
for i in range(len(df)):
    for j in range(len(f)):
        if df.at[i, 'fuel'] == f[j]:
            df.at[i, 'fuel_id'] = j + 1

In [73]:
df = df.drop('fuel', axis = 1).copy()

In [77]:
t = list(df['transmission'].unique())

In [79]:
tDf = pd.DataFrame(t, index = [i for i in range(1, len(t) + 1)])
tDf.index.name = 'transmission_id'
tDf.columns = ['transmission']
tDf

                transmission
transmission_id
1                 mechanical
2                  automatic
3                     manual

In [86]:
tDf.to_csv('transmission.csv')

In [80]:
df['transmission_id'] = 0

In [81]:
for i in range(len(df)):
    for j in range(len(t)):
        if df.at[i, 'transmission'] == t[j]:
            df.at[i, 'transmission_id'] = j + 1

In [84]:
df = df.drop('transmission', axis = 1).copy()

In [88]:
df['cylinders'].unique()

array(['8 cylinders', '6 cylinders', '4 cylinders', '5 cylinders',
       '10 cylinders', '3 cylinders', 'other', '12 cylinders'],
      dtype=object)

In [90]:
df.to_csv('vehicles.csv')